*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

}
body{
  width: 100vw;
  height: 100vh;
}
.container
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}
input{
  height: 30px;
  width: 300px;
  padding: 2px;
}
button
{
  width: 100px;
  height:30px;
  border-radius: 5px;
  background-color: blue;
  color: aliceblue;
  padding: 2px;

}
.App
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:5px;
}